.animate-infinite-marquee {
  animation: infinite-marquee 30s linear infinite;
  will-change: transform;
  min-width: 200%;
}

@keyframes infinite-marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
